# The URL pointing to your backend API.
# In local development, typically /api/ to use the Vite proxy.
# In production, the absolute URL to your backend.
VITE_API_URL=/api/

# Only required for local development when running `npm run dev`
# Specifies where Vite should proxy /api/ requests
VITE_API_PROXY_URL=http://127.0.0.1:8000
